body {
    background-color: #212121;
}

.keyboard {
    width: 100%;
    padding: 0 !important;
}

.title-text {
    margin-top: 0 !important;
    color: white;
}

.display {
    background-color: white;
    width: 100%;
    padding: 10px;
    font-size: 60px;
    margin: 0 !important;
}

.display-text {
    width: 100%;
    color: #757575;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyboard-row {
    margin: 0 !important;
}

.keyboard-key {
    height: 100%;
    padding: 10px !important;
    font-size: 40px;
    background: #00897B;
    color: white;
    height: 100%;
}

.keyboard-key-dark {
    height: 100%;
    padding: 10px !important;
    font-size: 40px;
    background: #00695C;
    color: white;
    height: 100%;
}

@media (hover: hover) {
    .keyboard-key:hover {
        background-color: #4DB6AC;
    }

    .keyboard-key-dark:hover {
        background-color: #4DB6AC;
    }

}

.green-dod {
    background-color: #2E7D32;
    height: 30px !important;
    width: 30px !important;
    border-radius: 15px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.red-dod {
    background-color: #c62828;
    height: 30px !important;
    width: 30px !important;
    border-radius: 15px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.status-text {
    color: white;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-weight: 400;
    background-color: transparent !important;
    text-align: center;
}

@media (hover: none), (hover: on-demand) {
    .keyboard-key :hover {
        background: #00897B;
    }

    .keyboard-key-dark :hover {
        background: #00695C;
    }
}

@media (min-width: 601px) {
    .title-text {
        margin-top: 10vh !important;
    }

    .keyboard-container {
        margin-top: 10vh !important;
    }
}